@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

@font-face {
    font-family: 'Countach';
    src: url('../../assets/fonts/Countact-Regular.otf') format('opentype'),
}

@font-face {
    font-family: 'Tilda Petite';
    src: url('../../assets/fonts/Tilda-Petite.ttf') format('truetype'),
}

@font-face {
    font-family: 'Heading Pro Trial';
    src: url('../../assets/fonts/heading-pro-trial/Heading-Pro-Book.ttf') format('truetype'),
}

@font-face {
    font-family: 'Copperplate Gothic';
    src: url('../../assets/fonts/copperplate-gothic/Copperplate-Gothic-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Bembo';
    src: url('../../assets/fonts/bembo/Bembo Regular.otf') format('opentype'),
}

@font-face {
    font-family: 'Bembo Semibold Regular';
    src: url('../../assets/fonts/bembo/Bembo Semibold Regular.otf') format('opentype'),
}

@layer base {
    h1 {
        @apply text-4xl font-bold md:text-5xl;
    }

    h2 {
        @apply text-3xl font-bold md:text-4xl;
    }

    h3 {
        @apply text-2xl font-bold md:text-3xl;
    }

    h4 {
        @apply text-xl font-bold;
    }

    h5 {
        @apply text-lg font-bold;
    }

    .wrapper {
        @apply mx-auto p-6 sm:p-8;
        max-width: 48rem;
    }
}

.row {
    @apply flex justify-center items-center;
}

.row-h {
    @apply flex justify-center;
}

.row-v {
    @apply flex items-center;
}

.col {
    @apply flex flex-col justify-center items-center;
}

.col-h {
    @apply flex flex-col items-center;
}

.col-v {
    @apply flex flex-col justify-center;
}

.countach {
    font-family: 'Countach', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.tilda-petite {
    font-family: 'Tilda Petite', sans-serif;
    font-weight: 400;
}

.heading-pro-trial {
    font-family: 'Heading Pro Trial', sans-serif;
    font-weight: 400;
}

.copperplate-gothic {
    font-family: 'Copperplate Gothic', sans-serif;
    font-weight: 400;
}

.bembo {
    font-family: 'Bembo Regular', sans-serif;
    font-weight: 400;
}

.bembo-semibold {
    font-family: 'Bembo Semibold Regular', sans-serif;
    font-weight: 400;
}

.glass-card {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    transition: 0.4s ease-in;
}

.glass-card:hover {
    background-color: black;
}

.menu-card-subtitle {
    position: absolute;
    top: -1px;
    right: -2px;
    padding: 6px 15px;
    border-bottom-left-radius: 50%;
    font-weight: 600;
    text-transform: uppercase;
}

.bold {
    @apply font-bold;
}

.t-primary {
    @apply text-primary;
}

.pointer {
    cursor: pointer;
}

body::-webkit-scrollbar {
    width: 14px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #F7BC01, #D56741);
    width: 10px;
    height: 80px;
    border-radius: 26px;
    border: 1px solid transparent;
    background-clip: padding-box;
}

#navbar-portal-root {
    display: block;
    padding-top: 70px;
    position: fixed;
    top: 0;
    width: fit-content;
    height: 100%;
    overflow: auto;
    border-radius: 0.5rem;
    z-index: 2;
}

.navbar-portal-content {
    border: 1px solid #ccc;
    position: fixed;
    border-radius: 0.5rem;
    padding: 10px;
    -webkit-animation: fade-in-from-none 0.6s ease-in-out;
    animation: fade-in-from-none 0.6s ease-in-out;
    z-index: 40;
    background: white;
    color: #4B5563;
}

/* Frame around the entire content */
.content-frame {
    width: 90%;
    /* Adjust width */
    max-width: 500px;
    /* Maximum frame width */
    margin: 20px auto;
    /* Centering the frame */
    padding: 20px;
    border: 8px solid #6b4a2b;
    border-radius: 15px;
    background: #2f2f2f;
    /* Darker metallic background */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7), inset 0 3px 10px rgba(255, 255, 255, 0.1);
    position: relative;
}

.frame-body {
    color: #e0c097;
    /* Gold-like text */
    font-family: 'Arial', sans-serif;
    /* Adjust font as needed */
    text-align: center;
    line-height: 1.6;
}

ol {
    list-style: auto !important;
    margin-inline: 2rem !important;
    margin-bottom: 1rem !important;
}

.semibold {
    font-weight: 600;
}

.subindex {
    position: relative;
    bottom: -4px;
    font-size: 8pt;
}

.btn {
    padding: 0.25rem 0.625rem;
    background-color: rgb(66 65 67);
    /* Soft background shadow */
    background-image: linear-gradient(180deg, #49484a, #424143);
    border: 1px solid #333;
    border-radius: 0.5rem;
    white-space: nowrap;
}

.btn:hover {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
    border: 1px solid #333;
    background-image: linear-gradient(180deg, #49484a, #424143);
}

.btn:disabled {
    opacity: 0.3;
}

/* Table */
.matrix-table {
    /* Width same regardless of text */
    table-layout: fixed;
    background-color: rgb(66 65 67);
}

.matrix-table tbody {
    display: table-row-group;
}

.matrix-table th td:nth-child(1),
.matrix-table tr td:nth-child(1) {
    min-width: 1.75rem;
    max-width: 1.75rem;
}

.matrix-table th,
.matrix-table tr {
    line-height: 1.25rem;
    white-space: nowrap;
    overflow: hidden;
}

.matrix-table tr td,
.matrix-table tr th {
    border: 1px solid #b5b5b5;
    padding: 5px;
    text-align: center;
    color: #efefef;
    max-width: 3.5rem;
}

.matrix-table th td {
    min-width: 3.5625rem;
}

.matrix-table td {
    max-height: 1.5rem;
    min-width: 3.5rem;
    width: 3.5rem;
    padding: 0.25rem;
    border-width: 1px;
    border-color: rgb(209 213 219);
}

.matrix-table-input-cell {
    height: 1.3125rem;
    width: 2.875rem;
    text-align: center;
    background-color: #fff;
    color: #000;
    font-size: 13px;
}
