@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Poppins', 'Countach', 'Copperplate Gothic', 'Inter', 'sans-serif';
}

@font-face {
    font-family: 'Copperplate Gothic';
    src: url('../assets/fonts/Copperplate-Gothic/Copperplate-Gothic-Medium-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Copperplate Gothic Light';
    src: url('../assets/fonts/Copperplate Gothic/Copperplate-Gothic-Light-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Copperplate Gothic Bold';
    src: url('../assets/fonts/Copperplate-Gothic/Copperplate-Gothic-Medium-Bold.ttf') format('truetype'),
}

@font-face {
    font-family: 'Countach';
    src: url('../assets/fonts/Countach/Countach-Regular.otf') format('opentype'),
}

@font-face {
    font-family: 'Countach Bold';
    src: url('../assets/fonts/Countach/Countach-Bold.otf') format('opentype'),
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../assets/fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Inconsolata Light';
    src: url('../assets/fonts/Inconsolata/Inconsolata-Light.ttf') format('truetype'),
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../assets/fonts/Inconsolata/Inconsolata-Bold.ttf') format('truetype'),
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
}

@layer base {
    h1 {
        @apply text-4xl font-bold md:text-5xl;
    }

    h2 {
        @apply text-3xl font-bold md:text-4xl;
    }

    h3 {
        @apply text-2xl font-bold md:text-3xl;
    }

    h4 {
        @apply text-xl font-bold;
    }

    h5 {
        @apply text-lg font-bold;
    }

    .wrapper {
        @apply mx-auto p-6 sm:p-8;
        max-width: 48rem;
    }
}

.row {
    @apply flex justify-center items-center;
}

.row-h {
    @apply flex justify-center;
}

.row-v {
    @apply flex items-center;
}

.col {
    @apply flex flex-col justify-center items-center;
}

.col-h {
    @apply flex flex-col items-center;
}

.col-v {
    @apply flex flex-col justify-center;
}

.countach {
    font-family: 'Countach', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.countach-bold {
    font-family: 'Countach Bold', sans-serif;
}

.copperplate {
    font-family: 'Copperplate Gothic', sans-serif;
}

.copperplate-light {
    font-family: 'Copperplate Gothic Light', sans-serif;
}

.copperplate-bold {
    font-family: 'Copperplate Gothic Bold', sans-serif;
}

.inconsolata {
    font-family: 'Inconsolata', sans-serif;
}

.inconsolata-light {
    font-family: 'Inconsolata', sans-serif;
}

.inconsolata-bold {
    font-family: 'Inconsolata Bold', sans-serif;
}

.glass-card {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    transition: 0.4s ease-in;
}

.glass-card:hover {
    background-color: black;
}

.menu-card-subtitle {
    position: absolute;
    top: -1px;
    right: -2px;
    padding: 6px 15px;
    border-bottom-left-radius: 50%;
    font-weight: 600;
    text-transform: uppercase;
}

.bold {
    @apply font-bold;
}

.t-primary {
    @apply text-primary;
}

.pointer {
    cursor: pointer;
}

body::-webkit-scrollbar {
    width: 14px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #F7BC01, #D56741);
    width: 10px;
    height: 80px;
    border-radius: 26px;
    border: 1px solid transparent;
    background-clip: padding-box;
}

#navbar-portal-root {
    display: block;
    padding-top: 70px;
    position: fixed;
    top: 0;
    width: fit-content;
    height: 100%;
    overflow: auto;
    border-radius: 0.5rem;
    z-index: 2;
}

.navbar-portal-content {
    min-width: 11.5rem;
    border-top: none;
    position: fixed;
    border-radius: 0.5rem;
    padding: 10px;
    -webkit-animation: fade-in-from-none 0.6s ease-in-out;
    animation: fade-in-from-none 0.6s ease-in-out;
    z-index: 40;
    background: #006CBC;
}

/* Frame around the entire content */
.content-frame {
    width: 90%;
    /* Adjust width */
    max-width: 500px;
    /* Maximum frame width */
    margin: 20px auto;
    /* Centering the frame */
    padding: 20px;
    border: 8px solid #6b4a2b;
    border-radius: 15px;
    background: #2f2f2f;
    /* Darker metallic background */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7), inset 0 3px 10px rgba(255, 255, 255, 0.1);
    position: relative;
}

.frame-body {
    color: #e0c097;
    /* Gold-like text */
    font-family: 'Arial', sans-serif;
    /* Adjust font as needed */
    text-align: center;
    line-height: 1.6;
}

ol {
    list-style: auto !important;
    margin-inline: 2rem !important;
    margin-bottom: 1rem !important;
}

.semibold {
    font-weight: 600;
}

.superindex {
    position: relative;
    top: -9px;
    font-size: 11px;
}

.subindex {
    position: relative;
    bottom: -4px;
    font-size: 11px;
}

.btn {
    padding: 0.25rem 0.625rem;
    background-color: rgb(66 65 67);
    /* Soft background shadow */
    background-image: linear-gradient(180deg, #484749, #464547);
    border: 1px solid #333;
    border-radius: 0.5rem;
    white-space: nowrap;
}

.btn-brighter {
    background-image: linear-gradient(180deg, #4D4C4F, #5B5A5C);
}

.btn:hover {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
    border: 1px solid #333;
    background-image: linear-gradient(180deg, #49484A, #424143);
}

.btn:disabled {
    opacity: 0.3;
}

/* Table */
table {
    font-family: 'Inconsolata', sans-serif;
}

.matrix-table {
    /* Width same regardless of text */
    table-layout: fixed;
    background-color: rgb(66 65 67);
}

.matrix-table tbody {
    display: table-row-group;
}

.matrix-table th td:nth-child(1),
.matrix-table tr td:nth-child(1) {
    min-width: 1.75rem;
    max-width: 1.75rem;
}

.matrix-table th,
.matrix-table tr {
    line-height: 1.25rem;
    white-space: nowrap;
    overflow: hidden;
}

.matrix-table tr td,
.matrix-table tr th {
    border: 1px solid #b5b5b5;
    padding: 5px;
    text-align: center;
    color: #efefef;
    max-width: fit-content;
}

.matrix-table th td {
    min-width: 3.5625rem;
}

.matrix-table td {
    max-height: 1.5rem;
    min-width: 3.5rem;
    width: 3.5rem;
    padding: 0.25rem;
    border-width: 1px;
    border-color: rgb(209 213 219);
}

.matrix-table-input-cell {
    height: 1.3125rem;
    width: 2.875rem;
    text-align: center;
    background-color: #fff;
    color: #000;
    font-size: 13px;
}

.fade-in {
    max-width: fit-content;
    -webkit-animation: content-fade-in 0.9s ease-in-out forwards;
    animation: content-fade-in 0.9s ease-in-out forwards;
}

.fade-out {
    max-width: fit-content;
    -webkit-animation: content-fade-out 0.9s ease-in-out forwards;
    animation: content-fade-out 0.9s ease-in-out forwards;
}

.border-b-darkgray {
    border-bottom-width: 1px;
    border-bottom-color: #1F1D20;
}

.border-b-darkgray-2 {
    border-bottom-width: 1px;
    border-bottom-color: #1F1D20;
}

.border-b-lightgray {
    border-bottom-width: 1px;
    border-bottom-color: #D3D3D3;
}

.border-b-lightgray-2 {
    border-bottom-width: 2px;
    border-bottom-color: #D3D3D3;
}

input {
    transition: background-color 0.8s ease;
}

.svg-up,
.svg-down {
    fill: #006CBC;
    cursor: pointer;
}

/* Slide effect for mobile screens navbar menu */
.slide-container {
    overflow: hidden;
    transition: max-height 0.9s ease-in-out, transform 0.9s ease-in-out;
}

.slide-enter {
    max-height: 0;
    transform: translateY(-100%);
}

.slide-enter-active {
    max-height: 205px;
    transform: translateY(0);
}

.slide-exit {
    max-height: 205px;
    transform: translateY(0);
}

.slide-exit-active {
    max-height: 0;
    transform: translateY(-100%);
}
